USE [O2Jam]
GO
/****** Object:  StoredProcedure [dbo].[P_o2jam_certify_9You]    Script Date: 2023-08-27 오후 11:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************************/
/*	SP NAME : P_o2jam_certify_9You			 */
/*	MOD DATE: 2005-12-11					 */
/*	EDITOR  : GUZHAO(咕噜哈)				 */
/*---------------------------------------------------------------------------------------------------------*/
/*	MEMO    :  GUZHAO                                                  	 */
/*********************************************************************************/
ALTER PROCEDURE [dbo].[P_o2jam_certify_9You]
@USERID	VARCHAR(20)
,@PASSWD	VARCHAR(20)
,@IPADDR	VARCHAR(20)
AS
	DECLARE	@RESULT		INT
	DECLARE	@INDEX		INT
             DECLARE	@MCASH		INT
	DECLARE @USER_INDEX_ID	INT
	SET @RESULT = -1
	SET @INDEX	= -1
	SELECT @INDEX = [ID] FROM MEMBER WHERE USERID = @USERID AND login_token = @PASSWD AND login_token_enabled = 1
	IF(@INDEX = -1 OR @INDEX IS NULL)
	BEGIN
		SET @RESULT = -1
	END
/*	
	ELSE IF NOT EXISTS (SELECT allowedip FROM T_o2jam_AllowedIP WHERE allowedip = @IPAddr)
	BEGIN
		SET @RESULT = -2
	END
*/	
	ELSE
	BEGIN
		SET @RESULT = 0
		 SELECT @MCASH=MCASH,@USER_INDEX_ID=[ID] FROM [O2JamTrade].dbo.[USERMCASH] WHERE USERID=@USERID
		 UPDATE T_o2jam_charCash SET MCASH=@MCASH where user_index_id=@USER_INDEX_ID
	--	 INSERT INTO [onlinereport].[dbo].[login_log] (userid)values(@USERID)

	END
	SELECT @RESULT AS RESULT,@INDEX AS USERINDEX
GO
/****** Object:  StoredProcedure [dbo].[P_o2jam_log_in]    Script Date: 2023-08-27 오후 11:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[P_o2jam_log_in]
@GateWayID 	varchar(40) 
,@UserID	varchar(20)
,@UserPwd	varchar(20)
,@9YouIndex	int
,@IPAddr	varchar(40)
AS
	DECLARE	@iResult			int
	DECLARE	@UserSex		varchar(2)
	DECLARE	@9YouUserIndex		int
	DECLARE	@9YouSex		int
	DECLARE	@9YouUserNick		varchar(20)

	DECLARE 	@iRanking		int

	SET @iResult = -1
	SET @9YouUserIndex = -1
	SET @9YouSex = -1

	SET @iRanking = 0

	SELECT @9YouUserIndex = [ID], @9YouUserNick = REPLACE(usernick, ' ', ''), @9YouSex = Sex FROM dbo.member WHERE userid = @UserID AND login_token = @UserPwd AND login_token_enabled = 1
	
	IF(@9YouSex = 1)		SET @UserSex = 'm'
	ELSE IF(@9YouSex = 0)		SET @UserSex = 'f'
	ELSE				SET @UserSex = 'd'

	IF(@UserSex = 'd')
	BEGIN
		SET @iResult = -1
	END
	ELSE IF(@9YouUserIndex != @9YouIndex)
	BEGIN
		SET @iResult = -1
	END
	ELSE
	BEGIN
		EXEC @iResult = [dbo].[P_o2jam_create_user] @UserID, @9YouUserNick, @UserSex

		IF EXISTS (SELECT USER_ID FROM T_O2JAM_BANISHMENT WHERE USER_ID = @UserID)
		BEGIN
			SET @iResult = -5
		END
		ELSE IF( @iResult > 0 AND @iResult IS NOT NULL)
		BEGIN
			IF NOT EXISTS (SELECT USER_ID FROM [T_o2jam_login] WHERE [USER_ID] = @UserID)
			BEGIN
				INSERT INTO [dbo].[T_o2jam_login](GATEWAY_ID, MAIN_CH, SUB_CH, USER_INDEX_ID, USER_ID, TUSER_ID, ADDR_IP, LOGIN_TIME) 
				VALUES(@GateWayID, -1, -1, @iResult, @UserID, '-1',  @IPAddr, GetDate())

				EXEC [dbo].[p_o2jam_count] @iResult

				SELECT @iRanking = RANKING FROM T_o2jam_DumpRanking WHERE USER_INDEX_ID = @iResult

				/* 로그인 후속 처리 (통계 및 어뷰징 기록) */

				/* 로그 추가 */
				INSERT INTO [dbo].[O2JamLoginLog] VALUES(@iResult, @UserID, GetDate(), @IPAddr, 1)

				/* 어뷰징 탐지 */
				EXEC dbo.UpdateCurrentIp @iResult, @IPAddr
				EXEC dbo.CheckMultiAccount @iResult, @IPAddr

				/* 스코어보드 갱신 */
				UPDATE dbo.T_o2jam_charinfo SET LastAccess = GETDATE() WHERE USER_INDEX_ID = @iResult

				/* 토큰 만료 */
				UPDATE dbo.member SET login_token_enabled = 0 WHERE userid = @UserID AND login_token = @UserPwd
			END
			ELSE
			BEGIN
				SET @iResult =  -2
			END
		END
		ELSE
		BEGIN
			SET @iResult = -3
		END
	END

	SELECT @iResult AS iResult,@iRanking AS Ranking

GO
