USE [O2Jam]
GO
/****** Object:  StoredProcedure [dbo].[delete_scoreboard]    Script Date: 2025-01-14 오후 5:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Minseok Chu
-- Create date: 2025-01-14
-- Description:	해당 계정의 스코어보드 기록 삭제
-- =============================================
ALTER PROCEDURE [dbo].[delete_scoreboard]	
	-- Add the parameters for the stored procedure here
	@nickname nchar(50)
AS
BEGIN
	DECLARE @user_index_id int

	SELECT 
		@user_index_id = USER_INDEX_ID
	FROM
		dbo.T_o2jam_charinfo
	WHERE
		USER_NICKNAME = @nickname

	IF @user_index_id IS NULL
		RETURN 1

	DELETE
		dbo.O2JamHighscore
	WHERE
		PlayerCode = @user_index_id

	DELETE
		dbo.O2JamPlaylog
	WHERE
		PlayerCode = @user_index_id

	DELETE
		dbo.status_clear_history
	WHERE
		player_id = @user_index_id

	UPDATE
		dbo.O2JamStatus
	SET
		P = 0,
		SS = 0,
		S = 0,
		A = 0,
		B = 0,
		C = 0,
		D = 0,
		Clear = 0,
		Tier = 24,
		UpdatedTime = GETDATE()
	WHERE
		PlayerCode = @user_index_id

	RETURN 0
END
