USE [O2Jam]
GO
/****** Object:  StoredProcedure [dbo].[clear_unhooked_records]    Script Date: 2025-01-14 오후 4:49:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Minseok Chu
-- Create date: 2025-01-14
-- Description:	계정 정보에 없는 스코어 데이터 삭제 (고아 데이터)
-- =============================================
CREATE PROCEDURE [dbo].[clear_unhooked_records]
AS
BEGIN
	BEGIN TRAN

	DELETE
		H
	FROM 
		dbo.O2JamHighscore AS H
	LEFT JOIN
		dbo.T_o2jam_charinfo AS C ON H.PlayerCode = C.USER_INDEX_ID
	WHERE C.USER_INDEX_ID IS NULL
	
	IF @@ERROR <> 0
		ROLLBACK TRAN
		RETURN 1

	DELETE
		P
	FROM 
		dbo.O2JamPlaylog AS P
	LEFT JOIN
		dbo.T_o2jam_charinfo AS C ON P.PlayerCode = C.USER_INDEX_ID
	WHERE C.USER_INDEX_ID IS NULL

	IF @@ERROR <> 0
		ROLLBACK TRAN
		RETURN 1

	COMMIT TRAN
	RETURN 0
END
GO
