USE [O2Jam]
GO
/****** Object:  StoredProcedure [dbo].[delete_user]    Script Date: 2025-01-14 오후 4:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Minseok Chu	
-- Create date: 2025-01-14
-- Description:	플레이어 삭제
-- =============================================
ALTER PROCEDURE [dbo].[delete_user] 
	-- Add the parameters for the stored procedure here
	@user_index_id int
AS
BEGIN
	DECLARE @member_id int
	DECLARE @username nchar(50)

	SELECT
		@username = USER_ID
	FROM
		dbo.T_o2jam_charinfo
	WHERE
		USER_INDEX_ID = @user_index_id

	IF @username IS NULL
		RETURN 1

	SELECT
		@member_id = id
	FROM
		dbo.member
	WHERE
		userid = @username

	IF @member_id IS NULL
		RETURN 2

	BEGIN TRAN

	DELETE
		dbo.T_o2jam_charinfo
	WHERE
		USER_INDEX_ID = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 3
	END

	DELETE
		dbo.T_o2jam_charCash
	WHERE
		USER_INDEX_ID = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 4
	END

	DELETE
		O2JamTrade.dbo.UserMCash
	WHERE
		id = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 5
	END

	DELETE
		T_o2jam_item
	WHERE
		USER_INDEX_ID = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 6
	END

	DELETE
		dbo.nickname_history
	WHERE
		player_id = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 7
	END

	DELETE
		dbo.O2JamCurrentIp
	WHERE
		PlayerCode = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 8
	END

	DELETE
		dbo.O2JamHighscore
	WHERE
		PlayerCode = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 9
	END

	DELETE
		dbo.O2JamPlaylog
	WHERE
		PlayerCode = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 10
	END

	DELETE
		dbo.O2JamLoginLog
	WHERE
		UserCode = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 11
	END

	DELETE
		dbo.O2JamStatus
	WHERE
		PlayerCode = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 12
	END

	DELETE
		password_reset_token
	WHERE
		member_id = @member_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 13
	END

	DELETE
		status_clear_history
	WHERE
		player_id = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 14
	END

	DELETE
		nickname_exchange_token
	WHERE
		player_id = @user_index_id

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 15
	END
	
	COMMIT TRAN
	RETURN 0
END
