USE [O2Jam]
GO
/****** Object:  StoredProcedure [dbo].[ban_player]    Script Date: 2025-01-14 오후 4:49:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		CSMD_	
-- Create date: 2024-06-07
-- Description:	Ban abuse player
-- =============================================
CREATE PROCEDURE [dbo].[ban_player]
	@player_id int,
	@ban_period_days int,
	@ban_reason varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @member_id_index int = -1
	DECLARE @member_id char(20)
	
	SELECT
		@member_id_index = m.id,
		@member_id = m.userid
	FROM
		dbo.T_o2jam_charinfo AS c
	INNER JOIN
		dbo.member AS m
			ON c.USER_ID = m.userid
	WHERE
		c.USER_INDEX_ID = @player_id

	IF @member_id_index = -1
		RETURN -1

	INSERT INTO dbo.banishment VALUES(@member_id_index, @member_id, GETDATE(), @ban_period_days, @ban_reason)

	RETURN 0
END
GO
