USE [O2Jam]
GO
/****** Object:  StoredProcedure [dbo].[delete_inactive_status]    Script Date: 2025-01-14 오후 5:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Minseok Chu	
-- Create date: 2025-01-14
-- Description:	1년 이상 한 번도 접속하지 않은(역대) 계정의 스코어보드 삭제
-- =============================================
ALTER PROCEDURE [dbo].[delete_inactive_status]
AS
BEGIN
	BEGIN TRAN

	DELETE
		H
	FROM 
		dbo.O2JamHighscore AS H
	LEFT JOIN
		dbo.T_o2jam_charinfo AS C ON H.PlayerCode = C.USER_INDEX_ID
	WHERE (C.LastAccess IS NULL OR C.LastAccess < DATEADD(YEAR, -1, GETDATE())) AND Level = 0
	
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 1
	END

	DELETE
		P
	FROM 
		dbo.O2JamPlaylog AS P
	LEFT JOIN
		dbo.T_o2jam_charinfo AS C ON P.PlayerCode = C.USER_INDEX_ID
	WHERE (C.LastAccess IS NULL OR C.LastAccess < DATEADD(YEAR, -1, GETDATE())) AND Level = 0

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 2
	END

	DELETE
		S
	FROM 
		dbo.O2JamStatus AS S
	LEFT JOIN
		dbo.T_o2jam_charinfo AS C ON S.PlayerCode = C.USER_INDEX_ID
	WHERE (C.LastAccess IS NULL OR C.LastAccess < DATEADD(YEAR, -1, GETDATE())) AND Level = 0

	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRAN
		RETURN 3
	END

	COMMIT TRAN
	RETURN 0
END
