{
    email mchu7797@gmail.com
}

dmjam.greatmandu.xyz {
    reverse_proxy localhost:10443 {
        header_up X-Real-IP {remote}
    }

    log {
        output file /var/log/caddy/caddy_access.log {
            roll_size 10
            roll_local_time
            roll_keep 20
        }
    }

    encode gzip
}