{% extends 'base.html' %}
{% block title %}Chart Ranking{% endblock %}
{% block content %}
    <div class="container-lg text-white">
        <h1 class="text-center mb-2">DMJAM CHART RANKING</h1>
        <div class="d-flex justify-content-between">
            <span style="color: darkgray;">
                <label for="date-start" class="form-label">Date Start</label>
                <input type="text" name="date-start" id="date-start">
                <label for="date-end" class="form-label">Date End</label>
                <input type="text" name="date-end" id="date-end">
            </span>
            <div class="btn-group btn-group-sm" role="group" aria-label="Top options">
                <button class="btn btn-outline-secondary" data-top="200">Top 200</button>
                <button class="btn btn-outline-secondary" data-top="500">Top 500</button>
                <button class="btn btn-outline-secondary" data-top="1000">Top 1000</button>
                <button class="btn btn-outline-secondary" data-top="0">No Limit</button>
            </div>
        </div>
        <hr style="border: 1px solid darkgray;" class="mb-3 mt-3">
        {% if ranking | length > 0 %}
            <div class="table-responsive-lg">
                <table class="table table-dark table-borderless">
                    <thead>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Level</th>
                    <th scope="col">Playcount</th>
                    </thead>
                    <tbody>
                    {% for row in ranking %}
                        <tr>
                            <th scope="row">{{ row["rank_index"] }}</th>
                            <td>
                                <a href="/music-scoreboard/{{ row['chart_id'] }}">{{ row["chart_title"] }}</a>
                            </td>
                            <td>{{ row["level"] }}</td>
                            <td>{{ row["playcount"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h1 class="text-center">SCOREBOARD ERROR!</h1>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const dateStart = document.getElementById('date-start');
        const dateEnd = document.getElementById('date-end');

        const buttons = document.querySelectorAll('.btn-group button');

        buttons.forEach(button => {
            button.addEventListener('click', function (event) {
                // Get the top value from the button's data attribute
                const topValue = this.getAttribute('data-top');

                // Get the date values
                const startDate = dateStart.value;
                const endDate = dateEnd.value;

                // Check if the dates are in the correct format YYYY-MM-DD
                const datePattern = /^\d{4}-\d{2}-\d{2}$/;

                // Construct the base URL
                let newUrl = `/ranking/chart?top=${topValue}`;

                // If both dates are valid, append them to the URL
                if (datePattern.test(startDate) && datePattern.test(endDate)) {
                    newUrl += `&date_start=${startDate}&date_end=${endDate}`;
                } else if (datePattern.test(startDate)) {
                    newUrl += `&date_start=${startDate}`;
                } else if (datePattern.test(endDate)) {
                    newUrl += `&date_end=${endDate}`;
                }

                // Redirect to the new URL
                window.location.href = newUrl;
            });
        });
    </script>
{% endblock %}
