{% extends 'base.html' %}
{% block title %}{{ metadata['title'] }}{% endblock %}
{% block content %}
    <div class="container-lg text-white">
        <h1>{{ metadata['title'] }}</h1>
        <h4>{{ metadata['artist'] }}</h4>
        <h4>{{ metadata['note_charter'] }}</h4>
        <div class="row">
            <div class="col-auto me-auto btn-group" role="group" aria-label="Another options">
                <a href="https://ojn.kenzync.dev/?id={{ metadata['music_code'] }}&server=dmjam" target="_blank"
                   class="btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                </a>
                <a href="{{ referer }}" class="btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                    </svg>
                </a>
            </div>
            <div class="col-auto btn-group" role="group" aria-label="Guage options">
                <a href="/music-scoreboard/{{ metadata['music_code'] }}/0"
                   class="btn {% if metadata['difficulty'] == 0 %}btn-success{% else %}btn-secondary{% endif %}">Easy</a>
                <a href="/music-scoreboard/{{ metadata['music_code'] }}/1"
                   class="btn {% if metadata['difficulty'] == 1 %}btn-warning{% else %}btn-secondary{% endif %}">Normal</a>
                <a href="/music-scoreboard/{{ metadata['music_code'] }}/2"
                   class="btn {% if metadata['difficulty'] == 2 %}btn-danger{% else %}btn-secondary{% endif %}">Hard</a>
            </div>
        </div>
        <hr style="border: 1px solid darkgrey" class="mb-3 mt-3">
        <div class="row mb-4">
            <div class="col-auto me-auto">
                {% if metadata['difficulty'] == 0 %}
                    <span class="badge bg-success">LEVEL {{ metadata['level'] }}</span>
                {% elif metadata['difficulty'] == 1 %}
                    <span class="badge bg-warning">LEVEL {{ metadata['level'] }}</span>
                {% else %}
                    <span class="badge bg-danger">LEVEL {{ metadata['level'] }}</span>
                {% endif %}
                <span class="badge bg-secondary">BPM : {{ metadata['bpm'] }}</span>
                <span class="badge bg-secondary">CHART PLAYCOUNT : {{ metadata['play_count'] }}</span>
            </div>
        </div>
        {% if scoreboard != None %}
            <div class="container-fluid">
                {% for score in scoreboard %}
                    <a class="track-item-link"
                       href="/player-scoreboard/{{ score['player_code'] }}/{{ metadata['difficulty'] }}">
                        <div class="track-item {% if score['is_cleared_record'] != 1 %}failed{% endif %} mx-auto">
                            <div class="track-info">
                                <div class="title-section">
                                    {% if score['row_number'] == 1 %}
                                        <span class="badge rank first_tag">
                                        #{{ score['row_number'] }}
                                    </span>
                                    {% elif score['row_number'] == 2 %}
                                        <span class="badge rank second_tag">
                                        #{{ score['row_number'] }}
                                    </span>
                                    {% elif score['row_number'] == 3 %}
                                        <span class="badge rank third_tag">
                                        #{{ score['row_number'] }}
                                    </span>
                                    {% else %}
                                        <span class="badge rank">
                                        #{{ score['row_number'] }}
                                    </span>
                                    {% endif %}
                                    </span>
                                    <div class="track-title">
                                        {{ score['player_nickname'] }}
                                    </div>
                                </div>
                                <div class="score-section">
                                    <div class="score">{{ score['score'] }}</div>
                                    {% if score['progress'] == 'P' or score['progress'] == 1 %}
                                        <span class="badge p_grade_tag">P</span>
                                    {% elif score['progress'] == 'SS' or score['progress'] == 2 %}
                                        <span class="badge ss_grade_tag">SS</span>
                                    {% elif score['progress'] == 'S' or score['progress'] == 3 %}
                                        <span class="badge s_grade_tag">S</span>
                                    {% elif score['progress'] == 'A' or score['progress'] == 4 %}
                                        <span class="badge a_grade_tag">A</span>
                                    {% elif score['progress'] == 'B' or score['progress'] == 5 %}
                                        <span class="badge b_grade_tag">B</span>
                                    {% elif score['progress'] == 'C' or score['progress'] == 6 %}
                                        <span class="badge c_grade_tag">C</span>
                                    {% elif score['progress'] == 'D' or score['progress'] == 7 %}
                                        <span class="badge d_grade_tag">D</span>
                                    {% elif score['progress'] == 'F' or score['progress'] == 8 %}
                                        <span class="badge f_grade_tag">F</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="stats-section">
                                    <div class="stats-pattern-group">
                                        <div class="stats-container">
                                        <span class="stat">
                                            <span class="stat-label">COOL</span>
                                            <span class="stat-value">{{ score['score_cool'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">GOOD</span>
                                            <span class="stat-value">{{ score['score_good'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">BAD</span>
                                            <span class="stat-value">{{ score['score_bad'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">MISS</span>
                                            <span class="stat-value">{{ score['score_miss'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">COMBO</span>
                                            <span class="stat-value">{{ score['score_max_combo'] }}</span>
                                        </span>
                                        </div>
                                        {% if score['pattern_order'] is not none and score['pattern_order'] != "1234567" %}
                                            <span class="badge pattern_order_tag">{{ score['pattern_order'] }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="right-section">
                                        <span class="timestamp">{{ score['cleared_time'] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-white info-header">
                <div class="d-flex justify-content-center">
                    <h3>THIS CHART HAS NO RECORD</h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}