{% extends 'base.html' %}
{% block title %}Tools{% endblock %}
{% block content %}
    <div class="container-lg text-white">
        <div class="text-center">
            <h1 class="display-3">Find my ID</h1>
            <h3>아이디 찾기</h3>
        </div>
        {% if status == 2 %}
            <div class="alert alert-success">
                {{ error_message }}
            </div>
        {% elif status == 1 %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        {% endif %}
        <form action="/troubleshoot/find-my-id" method="post">
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control">
                <div class="cf-turnstile mt-2" data-sitekey="0x4AAAAAAAUifEG8f8cMg-gj"></div>
            </div>
            <button type="submit" class="btn btn-primary">Send Email</button>
        </form>
    </div>
{% endblock %}