{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="container text-light">
        <div class="text-center">
            <h1 class="display-1">Oxygen</h1>
            <h6 class="display-6">For all o2jam players.</h6>
            <div class="mt-4">
                <strong>English : </strong>The site is non-profit basis
                <br>
                <strong>Korean : </strong>이 사이트는 비영리 기반으로 제공됩니다.
            </div>
        </div>
    </div>
{% endblock %}