{% extends 'base.html' %}
{% block title %}{{ chart_info['title'] }}{% endblock %}
{% block content %}
    <div class="container-lg text-white">
        <h1>{{ chart_info['title'] }}</h1>
        <h4>{{ chart_info['artist'] }}</h4>
        <h4>{{ chart_info['note_charter'] }}</h4>
        <div class="d-flex flex-row-reverse">
            <div class="btn-group" role="group" aria-label="Guage options">
                <a href="history?player_id={{ player_id }}&chart_id={{ chart_info['music_code'] }}&gauge_difficulty=0"
                   class="btn {% if gauge_difficulty == 0 %}btn-success{% else %}btn-secondary{% endif %}">Easy</a>
                <a href="history?player_id={{ player_id }}&chart_id={{ chart_info['music_code'] }}&gauge_difficulty=1"
                   class="btn {% if gauge_difficulty == 1 %}btn-warning{% else %}btn-secondary{% endif %}">Normal</a>
                <a href="history?player_id={{ player_id }}&chart_id={{ chart_info['music_code'] }}&gauge_difficulty=2"
                   class="btn {% if gauge_difficulty == 2 %}btn-danger{% else %}btn-secondary{% endif %}">Hard</a>
            </div>
            &nbsp;
            <a href="/music-scoreboard/{{ chart_info['music_code'] }}/{{ gauge_difficulty }}"
               class="btn btn-outline-secondary">
                Go Ranking
            </a>
        </div>
        <hr style="border: 1px solid darkgrey" class="mb-3 mt-3">
        2023년 12월 20일 이전 기록은 조회되지 않습니다.
        <br>
        Records before December 20th, 2023, are not available for viewing.
        <div class="row mb-3 mt-3">
            <div class="col-auto me-auto">
                <span class="badge bg-info bg-opacity-75">PLAYER : {{ player_info['nickname'] }}</span>
                {% if chart_info['difficulty'] == 0 %}
                    <span class="badge bg-success">LEVEL {{ chart_info['level'] }}</span>
                {% elif chart_info['difficulty'] == 1 %}
                    <span class="badge bg-warning">LEVEL {{ chart_info['level'] }}</span>
                {% else %}
                    <span class="badge bg-danger">LEVEL {{ chart_info['level'] }}</span>
                {% endif %}
                <span class="badge bg-secondary">BPM : {{ chart_info['bpm'] }}</span>
            </div>
            <div class="col-auto">
                <a id="order-by-date" class="btn btn-outline-light btn-sm {% if order_by_date == 1 %}active{% endif %}"
                   {% if order_by_date == 1 %}aria-pressed="true"{% endif %} data-bs-toggle="button">Order by Date</a>
            </div>
        </div>
        {% if histories != [] %}
            <div class="table-responsive-lg">
                <table class="table table-dark table-borderless table-sm">
                    <thead>
                    <th scope="col">#</th>
                    <th scope="col">Cool</th>
                    <th scope="col">Good</th>
                    <th scope="col">Bad</th>
                    <th scope="col">Miss</th>
                    <th scope="col">MaxCombo</th>
                    <th scope="col">Score</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Clear</th>
                    <th scope="col">PlayTime</th>
                    </thead>
                    <tbody>
                    {% for score in histories %}
                        <tr>
                            <th scope="row">{{ score['row_number'] }}</th>
                            <td>{{ score['score_cool'] }}</td>
                            <td>{{ score['score_good'] }}</td>
                            <td>{{ score['score_bad'] }}</td>
                            <td>{{ score['score_miss'] }}</td>
                            <td>{{ score['score_max_combo'] }}</td>
                            <td>{{ score['score'] }}</td>
                            {% if score['progress'] == 1 %}
                                <td>
                                    <span class="badge p_grade_tag">P Rank</span>
                                </td>
                            {% elif score['progress'] == 2 %}
                                <td>
                                    <span class="badge ss_grade_tag">SS Rank</span>
                                </td>
                            {% elif score['progress'] == 3 %}
                                <td>
                                    <span class="badge s_grade_tag">S Rank</span>
                                </td>
                            {% elif score['progress'] == 4 %}
                                <td>
                                    <span class="badge a_grade_tag">A Rank</span>
                                </td>
                            {% elif score['progress'] == 5 %}
                                <td>
                                    <span class="badge b_grade_tag">B Rank</span>
                                </td>
                            {% elif score['progress'] == 6 %}
                                <td>
                                    <span class="badge c_grade_tag">C Rank</span>
                                </td>
                            {% elif score['progress'] == 7 %}
                                <td>
                                    <span class="badge d_grade_tag">D Rank</span>
                                </td>
                            {% elif score['progress'] == 8 %}
                                <td>
                                    <span class="badge f_grade_tag">F Rank</span>
                                </td>
                            {% endif %}
                            <td>{{ score['cleared_time'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-white info-header">
                <div class="d-flex justify-content-center">
                    <h3>YOU HAVEN'T PLAYED THIS CHART!</h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const url = new URL(window.location.href);
        const parameters = url.searchParams;

        let orderByDateButton = document.getElementById("order-by-date");
        let orderByDate = parameters.get("order_by_date") == "true";
        let playerId = parameters.get("player_id");
        let chartId = parameters.get("chart_id");
        let gaugeDifficulty = parameters.get("gauge_difficulty");

        function setOption() {
            let newUrl = new URL("/history", url);

            if (orderByDate) {
                newUrl.searchParams.set("order_by_date", true);
            } else {
                newUrl.searchParams.set("order_by_date", false);
            }

            newUrl.searchParams.set("player_id", playerId);
            newUrl.searchParams.set("chart_id", chartId);
            newUrl.searchParams.set("gauge_difficulty", gaugeDifficulty);

            window.location.replace(newUrl);
        }

        orderByDateButton.addEventListener("click", () => {
            orderByDate = !orderByDate;
            setOption();
        });
    </script>
{% endblock %}