{% extends 'base.html' %}
{% block title %}{{ metadata['nickname'] }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/statistic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    <div class="container-lg text-white">
        <h1>
            Lv.{{ metadata['level'] }} {{ metadata['nickname'] }}
            {% if metadata['badge_info'] is not none %}
                <a href="/music-scoreboard/{{ metadata['badge_info']['badge_chart_id'] }}">
                    <span class="badge {{ metadata['badge_info']['badge_css_tag'] }}">{{ metadata['badge_info']['badge_name'] }}</span>
                </a>
            {% endif %}
            {% if metadata['nickname_history']|length > 0 %}
                <button class="btn btn-sm btn-primary nickname-history-icon"
                        data-bs-toggle="popover"
                        data-bs-trigger="focus"
                        tabindex="0"
                        data-bs-title="Nickname History"
                        data-bs-content="{% for nickname in metadata['nickname_history'][:-1] %}{{ nickname }}, {% endfor %}{{ metadata['nickname_history'][-1] }}">
                    <i class="bi bi-people-fill"></i>
                </button>
            {% endif %}
        </h1>
        <h3>
            Rank #{{ metadata['player_ranking'] }}
            {% if metadata['tie_player_count'] > 1 %}({{ metadata['tie_player_count'] }}){% endif %}
        </h3>
        <div class="d-none d-sm-block mt-3 mb-3">
            <div class="ui four statistics mb-1">
                <div class="ui grey inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['cleared']) }}
                    </div>
                    <div class="label">Cleared</div>
                </div>
                <div class="ui red inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['d_rank']) }}
                    </div>
                    <div class="label">D Rank</div>
                </div>
                <div class="ui purple inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['c_rank']) }}
                    </div>
                    <div class="label">C Rank</div>
                </div>
                <div class="ui violet inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['b_rank']) }}
                    </div>
                    <div class="label">B Rank</div>
                </div>
            </div>
            <div class="collapse" id="status-collapse">
                <div class="ui four statistics">
                    <div class="ui olive inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['a_rank']) }}
                        </div>
                        <div class="label">A Rank</div>
                    </div>
                    <div class="ui green inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['s_rank']) }}
                        </div>
                        <div class="label">S Rank</div>
                    </div>
                    <div class="ui orange inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['ss_rank']) }}
                        </div>
                        <div class="label">SS Rank</div>
                    </div>
                    <div class="ui yellow inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['p_rank']) }}
                        </div>
                        <div class="label">P Rank</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-sm-none mt-3 mb-3">
            <div class="ui four mini statistics mb-1">
                <div class="ui grey inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['cleared']) }}
                    </div>
                    <div class="label">Cleared</div>
                </div>
                <div class="ui red inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['d_rank']) }}
                    </div>
                    <div class="label">D Rank</div>
                </div>
                <div class="ui purple inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['c_rank']) }}
                    </div>
                    <div class="label">C Rank</div>
                </div>
                <div class="ui violet inverted statistic">
                    <div class="value">
                        {{ '{0:03d}'.format(tier['b_rank']) }}
                    </div>
                    <div class="label">B Rank</div>
                </div>
            </div>
            <div class="collapse" id="status-collapse">
                <div class="ui four mini statistics mb-1">
                    <div class="ui olive inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['a_rank']) }}
                        </div>
                        <div class="label">A Rank</div>
                    </div>
                    <div class="ui green inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['s_rank']) }}
                        </div>
                        <div class="label">S Rank</div>
                    </div>
                    <div class="ui orange inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['ss_rank']) }}
                        </div>
                        <div class="label">SS Rank</div>
                    </div>
                    <div class="ui yellow inverted statistic">
                        <div class="value">
                            {{ '{0:03d}'.format(tier['p_rank']) }}
                        </div>
                        <div class="label">P Rank</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
            <a class="btn btn-secondary btn-sm" data-bs-toggle="collapse" role="button"
               href="#status-collapse" aria-expanded="false" aria-controls="status-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </a>
        </div>
        {% if show_recent == 0 %}
            <div class="mb-3">
                <canvas id="level-chart"></canvas>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-auto me-auto">
                <a id="show-recent" class="btn btn-outline-light {% if show_recent == True %}active{% endif %}" {% if
                show_recent==True %}aria-pressed="true" {% endif %} data-bs-toggle="button">Show Recent</a>
            </div>
            <div class="col-auto btn-group" role="group" aria-label="Gauge options">
                <a href="/player-scoreboard/{{ metadata['player_code'] }}/0"
                   class="btn {% if metadata['current_view_difficulty'] == 0 %}btn-success{% else %}btn-secondary{% endif %}">Easy</a>
                <a href="/player-scoreboard/{{ metadata['player_code'] }}/1"
                   class="btn {% if metadata['current_view_difficulty'] == 1 %}btn-warning{% else %}btn-secondary{% endif %}">Normal</a>
                <a href="/player-scoreboard/{{ metadata['player_code'] }}/2"
                   class="btn {% if metadata['current_view_difficulty'] == 2 %}btn-danger{% else %}btn-secondary{% endif %}">Hard</a>
            </div>
        </div>
        <hr style="border: 1px solid darkgrey;" class="mb-3 mt-3">
        <div class="row mb-4">
            <div class="col-auto me-auto">
                <span class="badge text-bg-secondary">LAST ACCESS : {{ metadata['last_access_time'] }}</span>
                <span class="badge text-bg-secondary">{{ tier['tier'] }}</span>
            </div>
            <div class="col-auto">
                <a id="show-f-rank"
                   class="btn btn-outline-light btn-sm {% if show_f_rank == True %}active{% endif %} me-1"
                   {% if
                show_f_rank==True %}aria-pressed="true" {% endif %} data-bs-toggle="button">Show F</a>
                {% if show_recent == 0 %}
                    <div class="btn-group" role="group" aria-label="Pagination Options">
                        <button class="btn btn-sm btn-outline-light" id="prev-page">Prev</button>
                        <a class="btn btn-sm btn-outline-light enabled" aria-disabled="true">
                            {% if scoreboard != None %}
                                {{ scoreboard[0]['music_level'] }} - {{ scoreboard[-1]['music_level'] }}
                            {% else %}
                                Invalid
                            {% endif %}
                        </a>
                        <button class="btn btn-sm btn-outline-light" id="next-page">Next</button>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if scoreboard != None %}
            <div class="container-fluid">
                {% for score in scoreboard %}
                    <a class="track-item-link"
                       href="/history?player_id={{ metadata['player_code'] }}&chart_id={{ score['music_code'] }}&gauge_difficulty={{ metadata['current_view_difficulty'] }}">
                        <div class="track-item {% if score["is_cleared_record"] != 1 %}failed{% endif %} mx-auto">
                            <div class="track-info">
                                <div class="title-section">
                                    <span class="badge difficulty">Lv.{{ score['music_level'] }}</span>
                                    <div class="track-title">
                                        {{ score['music_title'] }}
                                    </div>
                                    {% if score['play_speed_rate'] is not none and score['play_speed_rate'] != 1.0 %}
                                        <span class="badge {% if score['play_speed_rate'] is not none and score['play_speed_rate'] > 1.0 %}rate_tag_upper{% else %}rate_tag_lower{% endif %}">x{{ score['play_speed_rate'] }}</span>
                                    {% endif %}
                                </div>
                                <div class="score-section">
                                    <div class="score">{{ score['score'] }}</div>
                                    {% if score['progress'] == 'P' or score['progress'] == 1 %}
                                        <span class="badge p_grade_tag">P</span>
                                    {% elif score['progress'] == 'SS' or score['progress'] == 2 %}
                                        <span class="badge ss_grade_tag">SS</span>
                                    {% elif score['progress'] == 'S' or score['progress'] == 3 %}
                                        <span class="badge s_grade_tag">S</span>
                                    {% elif score['progress'] == 'A' or score['progress'] == 4 %}
                                        <span class="badge a_grade_tag">A</span>
                                    {% elif score['progress'] == 'B' or score['progress'] == 5 %}
                                        <span class="badge b_grade_tag">B</span>
                                    {% elif score['progress'] == 'C' or score['progress'] == 6 %}
                                        <span class="badge c_grade_tag">C</span>
                                    {% elif score['progress'] == 'D' or score['progress'] == 7 %}
                                        <span class="badge d_grade_tag">D</span>
                                    {% elif score['progress'] == 'F' or score['progress'] == 8 %}
                                        <span class="badge f_grade_tag">F</span>
                                    {% endif %}
                                    {% if show_recent != True %}
                                        {% if score['record_rank'] == 1 %}
                                            <span class="badge first_tag chart_rank_tag">#{{ score['record_rank'] }}</span>
                                        {% elif score['record_rank'] == 2 %}
                                            <span class="badge second_tag chart_rank_tag">#{{ score['record_rank'] }}</span>
                                        {% elif score['record_rank'] == 3 %}
                                            <span class="badge third_tag chart_rank_tag">#{{ score['record_rank'] }}</span>
                                        {% else %}
                                            <span class="badge chart_rank_tag">#{{ score['record_rank'] }}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bottom-row">
                                <div class="stats-section">
                                    <div class="stats-pattern-group">
                                        <div class="stats-container">
                                        <span class="stat">
                                            <span class="stat-label">COOL</span>
                                            <span class="stat-value">{{ score['score_cool'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">GOOD</span>
                                            <span class="stat-value">{{ score['score_good'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">BAD</span>
                                            <span class="stat-value">{{ score['score_bad'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">MISS</span>
                                            <span class="stat-value">{{ score['score_miss'] }}</span>
                                        </span>
                                            <span class="stat">
                                            <span class="stat-label">COMBO</span>
                                            <span class="stat-value">{{ score['score_max_combo'] }}</span>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="right-section">
                                        <div class="tags-container">
                                            {% if score['play_timing_rate'] is not none and score['play_timing_rate'] != 0 %}
                                                <span class="badge mod_tag">T{{ score['play_timing_rate'] }}</span>
                                            {% endif %}
                                            {% if score['fln_option'] is not none and score['fln_option'] != 0 %}
                                                <span class="badge mod_tag">FLN {{ score['fln_option'] }}</span>
                                            {% endif %}
                                            {% if score['sln_option'] is not none and score['sln_option'] != 0 %}
                                                <span class="badge mod_tag">SLN {{ score['sln_option'] }}</span>
                                            {% endif %}
                                            {% if score['sln_option'] is not none and score['sln_option'] != 0 %}
                                                <span class="badge mod_tag">NLN</span>
                                            {% endif %}
                                            {% if score['pattern_order'] is not none and score['pattern_order'] != "1234567" %}
                                                <span class="badge pattern_order_tag">{{ score['pattern_order'] }}</span>
                                            {% endif %}
                                        </div>
                                        <span class="timestamp">{{ score['cleared_time'] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-white info-header">
                <div class="d-flex justify-content-center">
                    <h3>THIS PLAYER HAS NO RECORD</h3>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const levelChart = document.getElementById('level-chart');
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl =>
            new bootstrap.Popover(popoverTriggerEl, {
                trigger: 'focus'
            })
        );

        const url = new URL(window.location.href);
        const parameters = url.searchParams;

        let showFRankButton = document.getElementById("show-f-rank");
        let showRecentButton = document.getElementById("show-recent");
        let nextPageButton = document.getElementById("next-page");
        let prevPageButton = document.getElementById("prev-page");

        let showFRank = parameters.get('show-f-rank') == 1 ? 1 : 0;
        let showRecent = parameters.get('show-recent') == 1 ? 1 : 0;
        let page = parseInt(parameters.get('page'));

        if (isNaN(page)) {
            page = 0;
        }

        function setOption() {
            let newUrl = new URL("/player-scoreboard/{{ metadata['player_code'] }}/{{ metadata['current_view_difficulty'] }}", url);

            if (showRecent == 1) {
                newUrl.searchParams.set('show-recent', 1);
            } else {
                newUrl.searchParams.set('show-recent', 0);

                if (page != null) {
                    newUrl.searchParams.set('page', page);
                }
            }

            if (showFRank == 1) {
                newUrl.searchParams.set('show-f-rank', 1);
            } else {
                newUrl.searchParams.set('show-f-rank', 0);
            }

            window.location.replace(newUrl);
        }

        showFRankButton.addEventListener('click', () => {
            showFRank = !showFRank;
            setOption()
        });

        showRecentButton.addEventListener('click', () => {
            showRecent = !showRecent;
            setOption()
        });

        prevPageButton.addEventListener('click', () => {
            if (page > 0) {
                page = page - 1;
                setOption()
            }
        });

        nextPageButton.addEventListener('click', () => {
            if (page < {{ max_page }}) {
                page = page + 1;
                setOption()
            }
        });

        const dynamicLimits = {
            id: 'dynamicLimits',
            beforeInit: (chart) => {
                const dataValues = chart.data.datasets[0].data;
                const minValue = Math.min(...dataValues);
                const maxValue = Math.max(...dataValues);

                if (minValue === maxValue) {
                    // 최솟값과 최댓값이 같을 때만 범위를 확장
                    chart.options.scales.y.min = Math.max(0, minValue - 10);  // 최소 0
                    chart.options.scales.y.max = maxValue + 10;
                } else {
                    // 최솟값과 최댓값이 다를 때는 실제 데이터 범위 사용
                    chart.options.scales.y.min = minValue;
                    chart.options.scales.y.max = maxValue;
                }
            }
        };


        new Chart(levelChart, {
            type: 'line',
            data: {
                labels: {{ metadata["clear_history"]["date"]|tojson|safe }},
                datasets: [{
                    label: 'Level',
                    data: {{ metadata["clear_history"]["level"]|tojson|safe }},
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                aspectRatio: 2,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true,
                        mode: 'index',
                        intersect: false,
                        displayColors: false,
                        callbacks: {
                            label: (context) => {
                                let label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                if (context.parsed.y !== null) {
                                    label += context.parsed.y;
                                }
                                return label;
                            }
                        }
                    }
                }
            },
            plugins: [dynamicLimits]
        });
    </script>
{% endblock %}