{% extends 'base.html' %}
{% block title %}Tools{% endblock %}
{% block content %}
    <div class="container-lg text-white">
        <div class="text-center">
            <h1 class="display-3">Password Reset</h1>
            <h3>비밀번호 초기화</h3>
        </div>
        {% if phase == 1 %}
            {% if error_message|length > 0 %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}
            {% if info_message|length > 0 %}
                <div class="alert alert-info">
                    {{ info_message }}
                </div>
            {% endif %}
            <form action="/troubleshoot/reset-password-phase-2" method="post">
                <div class="mb-3">
                    <label for="token-id">Token</label>
                    <br>
                    <input type="text" name="token-id" id="token-id" class="form-control">
                    <small>Please proceed within 5 minutes after receiving the email.</small>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <small>- Password must be longer than 9</small>
                    <br>
                    <small>- Password must be included more than three different kinds of character</small>
                    <br>
                    <small>- Password must not be included any infos of your accounts and easy strings</small>
                    <br>
                    <small>- Possible character: Upper cases, Lower cases, Digits, Special Characters</small>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        {% elif phase == 0 %}
            {% if error_message|length > 0 %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}
            <form action="/troubleshoot/reset-password" method="post">
                <div class="mb-3">
                    <label for="account-id">ID</label>
                    <input type="text" name="account-id" id="account-id" class="form-control">
                    <div class="cf-turnstile mt-2" data-sitekey="0x4AAAAAAAUifEG8f8cMg-gj"></div>
                </div>
                <button type="submit" class="btn btn-primary">Send Email</button>
            </form>
        {% endif %}
    </div>
{% endblock %}