@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: sans-serif, 'Noto Sans KR';
}

a {
    text-decoration-line: none;
    color: white;
}

th,
td {
    white-space: nowrap;
}